template(name="front") 
  head
    title Michelle –– Solving call center pain with cuteness 
  body
    header#landing
      h1 Michelle
      ul
        li <a href="#">About</a>
        li <a href="#">Pricing</a>
        li <a href="#">FAQ</a>
    section#cta
      h2 Hello, I’m <span>Michelle</span>, your next employee of the month! 
        p. 
          Michelle is a virtual employee that improves your client's satisfaction
          and reduces your costumer support costs
          by transforming your call center in a task center 
